#container {
    padding: 0;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display:flex;
    /* gap: 1px; */
    flex-wrap: wrap;
}

#pixel {
    width: 25px;
    height: 25px;
    background-color: red;
}

#pixel:hover {
    background-color: black;
}